{% extends 'base.html' %}

{% block crud %}
 <h1 class="text-3xl p-6">About Page</h1>
 <p class="text-xl p-6">Be gear ready for your next backpacking trip!</p>
 <ul class="p-6 pl-10">
     <li>- Save your gear notes and recommendations.</li>
     <li>- See reviews & ratings on gear.</li>
     <li>- Create your own gear checklist.</li>
 </ul>
 <p class="float-right p-6">Gear List is an informational blog for users to store information, ratings, checklists, and other helpful information about backpacking gear from personal experience with the item. It's always great talking shop about gear when you're on a backpacking trip, but it's much more useful to know these tips and recommendations BEFORE going into the wilderness. Gear List is here to help with recommendations from users, ratings on gear items, and even a customizable checklist for the user to use while packing to ensure no item is left behind. (We've all been there.) This is a helpful tool to help you prepare for your next trip!
</p>

{% endblock crud %}
