{% load static tailwind_tags %}
{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Gear List</title>
</head>
<body>
    <header class="flex bg-gray-400 justify-evenly">
        <h1 class="text-8xl" >Gear List</h1>
        <nav class="flex items-center justify-between w-max">
        {% if user.is_authenticated %}
            <p class="p-2">Welcome {{ user.username }}</p>
            <a class="hover:animate-pulse hover:text-blue-500 p-2" href="{% url 'gear_list' %}">My Gear List</a>
            <a class="hover:animate-pulse hover:text-blue-500 p-2" href="{% url 'gear_create' %}">Add a new item</a>
            <a class="p-2" href="{% url 'logout' %}">Log out</a>
        {% else %}
            <a class="p-2" href="{% url 'login' %}">Log in</a>
            <a class="p-2" href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
            <a class="hover:animate-pulse hover:text-blue-500 p-2" href="{% url 'about' %}">About</a>
        </nav>
    </header>
    <main>
        {% if user.is_authenticated %}
        {% else %}
            <h1 class="text-3xl text-center p-20">Be prepared for your next outdoor adventure!</h1>
        {% endif %}
        {% block crud %}
            <h2>If you can read this, you need to set a block in child template.</h2>
        {% endblock crud %}

    </main>
    
</body>
</html>