<!-- {% load static tailwind_tags %} -->
<!-- {% load static %} -->
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>Gear List</title>
</head>
<body>
    <header class="flex bg-gray-400 justify-evenly">
        <h1 class="text-8xl" >Gear List</h1>
        {% if user.is_authenticated %}
            <p class="flex items-center justify-evenly">Welcome {{ user.username }}</p>
            <a  class="flex items-center justify-evenly" href="{% url 'logout' %}">Log out</a>
        {% else %}
            <!-- <p class="flex items-center justify-evenly">Please login or sign up.</p> -->
            <a  class="flex items-center justify-evenly" href="{% url 'login' %}">Log in</a>
            <a  class="flex items-center justify-evenly" href="{% url 'signup' %}">Sign Up</a>

        {% endif %}
        <nav class="flex items-center justify-evenly w-96">
        {% if user.is_authenticated %}
                <a class="hover:animate-pulse hover:text-blue-500" href="{% url 'gear_list' %}">My Gear List</a>
                <a class="hover:animate-pulse hover:text-blue-500" href="{% url 'gear_create' %}">Add a new item</a>
        {% endif %}
            <a class="hover:animate-pulse hover:text-blue-500" href="{% url 'about' %}">About</a>
        </nav>
    </header>
    <main>
        {% block crud %}
            <h2>If you can read this, you need to set a block in child template.</h2>
        {% endblock crud %}

    </main>
    
</body>
</html>