{% extends 'base.html' %}

{% block crud %}
<div class="p-2">
    <h2 class="text-3xl p-4">{{ gear.name }}</h2>
    <p class="p-4">{{ gear.description }}</p>
    <p class="p-4">Added by: {{ gear.purchaser }}</p>
</div>

<div class="text-center py-6">
    <a class="px-3 py-2 mx-3 bg-blue-400 text-white rounded-sm hover:bg-blue-600 hover:animate-pulse hover:" href="{% url 'gear_update' gear.pk %}">Update</a>
    <a class="px-3 py-2 mx-3 bg-blue-400 text-white rounded-sm hover:bg-blue-600 hover:animate-pulse hover:" href="{% url 'gear_delete' gear.pk %}">Delete</a>
</div>
{% endblock crud %}
